#register-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-page #right {
  background-image: url('./app/Images/guitars.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-page #right .modal {
  height: 80%;
  width: 80%;
}

#register-page #right h1 {
  margin-bottom: 1rem;
}

#register-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#register-form > div,
#register-form .name > div,
#register-form .submit-btn {
  width: 100%;
}

#register-form > div:not(.separation) {
  display: flex;
  flex-direction: column;
}

#register-form > div.name {
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

#register-form #first-name,
#register-form #last-name {
  display: flex;
  flex-direction: column;
}

#register-form div label {
  font-weight: 600;
  margin-bottom: 8px;
}

#register-form div > input,
#register-form .submit-btn {
  height: 40px;
}

#register-form div > input {
  font-size: 1rem;
  width: 100%;
}

#register-form input {
  background-color: transparent;
  padding-left: 0.5rem;
}

#register-page div p {
  font-weight: 600;
  margin-bottom: 8px;
}

#register-page #left {
  width: 0;
}

#register-form #already-have-account {
  align-items: center;
}

.password-strength#low {
  color: #ebba09;
}

.password-strength#medium {
  color: #0e21eb;
}

.password-strength#strong {
  color: #20e859;
}

@media (min-width: 768px) {
  #register-form > div.name {
    flex-direction: column;
  }

  #register-page {
    background-color: var(--color-background);
  }

  #register-page #right {
    background-image: none;
    background-color: var(--color-background);
    width: 50%;
  }

  #register-page #left {
    background-image: url('./app/Images/guitars.jpg');
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    overflow-y: hidden;
  }

  #register-page #right .modal {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  #register-form > div.name {
    flex-direction: row;
  }

  #register-page #right .modal {
    width: 70%;
  }
}
