#header {
  display: flex;
  align-items: center;
  border: none;
}

header {
  position: absolute;
  width: calc(100% - 4rem);
  left: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#left-header {
  grid-area: alias-lh;
  display: flex;
  align-items: center;
}

#right-header {
  grid-area: alias-rh;
  position: relative;
}

#auth-nav {
  grid-area: alias-rh;
  display: flex;
  align-items: center;
  gap: 2rem;
}

hr {
  margin: 0.5rem 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

#register-navlink p {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-gray-500);
}

#register-navlink:hover {
  opacity: 0.8;
}

#menu {
  position: absolute;
  left: 1rem;
  align-items: center;
  height: 24px;
  border: none;
  background-color: transparent;
}

#menu:hover {
  padding: 1px;
  cursor: pointer;
  opacity: 0.95;
  /* background-color: #080808; */
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  header {
    left: 1rem;
    width: calc(100% - 2rem);
  }
}
