.reset.verify {
  max-width: 500px;
  height: 500px;
  text-align: center;
  gap: 2rem;
}

.reset.verify #header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reset.verify span:not(.err) {
  font-weight: bold;
}

.otp.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.5rem;
}

.resend {
  background-color: transparent;
  border: none;
  color: var(--color-foreground);
  font-size: 1rem;
  align-self: end;
}

.resend.enabled {
  color: var(--color-link);
}

.resend.enabled:hover {
  cursor: pointer;
}

#reset-verify .resend .timer {
  font-family: 'Consolas', 'Menlo', monospace;
  font-size: 1rem;
  letter-spacing: 0; /* Ensure no extra spacing */
  font-weight: normal;
}

.reset.verify .cancel {
  height: 40px;
  width: 80%;
}
