#login-page {
  background-color: var(--color-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-page #modal {
  background-color: var(--color-main);
  padding: 1rem;
  /* height: 400px; */
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 2rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-self: start;
  gap: 1rem;
}

#login-form > div:not(.separation) {
  display: flex;
  flex-direction: column;
}

#login-form div label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#login-form div > input {
  font-size: 1rem;
  padding-left: 0.5rem;
}

#login-form div > input,
#login-form .submit-btn {
  border-radius: 6px;
  height: 40px;
}

#login-form #password > div {
  display: flex;
  justify-content: space-between;
}

#login-form #email input,
#login-form #password input,
#login-form .submit-btn {
  width: 400px;
}

#login-form > .err {
  text-align: center;
}

#login-form #with-google {
  background-color: #1e2d3f;
}

#login-form input {
  background-color: transparent;
}
