.details-panel {
  grid-area: alias-main;
  min-height: 100%;
  position: relative;
  display: flex;
  color: #fff;
  align-items: center;
  overflow-y: hidden;
}

.details-panel > .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: stretch;
  z-index: 1;
  width: 60%;
  background-color: var(--color-gray-900-60);
  border-radius: 1rem;
  border: 1px solid var(--color-gray-800-50);
  padding: 0.5rem;
  box-shadow: var(--shadow-xl);
  backdrop-filter: blur(12px);
  left: 1rem;
}

.back {
  display: inline-block;
  color: var(--color-emerald-400);
}

.back:hover {
  color: var(--color-emerald-300);
}

.details {
  color: var(--color-gray-300);
  margin-bottom: 1rem;
}

.price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: 0;
}

.cart.btn {
  background-color: var(--color-emerald-600);
  color: #fff;
  padding: 4px 6px;
  border: 1px solid var(--color-emerald-600);
  border-radius: 0.5rem;
  transition-property: color;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--default-transition-duration);
}

.cart.btn:hover {
  background-color: var(--color-emerald-500);
}

.img-panel {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  width: 55%;
  /* height: calc(100% - 1rem); */
  z-index: 0;
}

.img-panel .img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
  border: 4px solid var(--color-gray-800);
  box-shadow: var(--shadow-2xl);
  margin-bottom: 1rem;
}

.img-panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-panel .background {
  background-color: opacity;
  justify-content: center;
  align-items: center;
}

.details-panel .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 1rem;
  padding: 80px;
  width: 320px;
  height: 150px;
  background-color: var(--color-gray-800-90);
  gap: 20px;
  box-shadow: var(--shadow-2xl);
}

.details-panel .modal > img {
  width: 70px;
  height: 70px;
}

.details-panel .modal > p {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
