.avatar {
  height: 45px;
  width: 45px;
  border-radius: 25%;
  border: none;
}

.avatar:hover {
  cursor: pointer;
  border-radius: 25%;
}

.avatar img {
  height: 45px;
  width: 45px;
  border-radius: 25%;
}

.dropdown {
  background-color: #151a26;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  top: 55px;
  right: 0;
  z-index: 10;
  padding: 0.5rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.dropdown a {
  color: var(--color-foreground);
}
