.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup .right {
  background-image: url('./app/Images/guitars.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup .right > .container {
  height: 80%;
  width: 80%;
}

.signup .right h1 {
  margin-bottom: 1rem;
}

.signup form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.signup form > div,
.signup form .names > div,
.signup form .btn {
  width: 100%;
}

.signup form > div:not(.separation) {
  display: flex;
  flex-direction: column;
}

.signup form > div.names {
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.signup form .first.name,
.signup form .last.name {
  display: flex;
  flex-direction: column;
}

.signup form div label {
  font-weight: 600;
  margin-bottom: 8px;
}

.signup form div > input,
.signup form .btn {
  height: 40px;
}

.signup form div > input {
  font-size: 1rem;
  width: 100%;
}

.signup form input {
  background-color: transparent;
  padding-left: 0.5rem;
}

.signup div p {
  font-weight: 600;
  margin-bottom: 8px;
}

.signup .left {
  width: 0;
}

.signup form .have-account {
  align-items: center;
}

.strength.low {
  color: #ebba09;
}

.strength.medium {
  color: #0e21eb;
}

.strength.strong {
  color: #20e859;
}

@media (min-width: 768px) {
  .signup form > div.names {
    flex-direction: column;
  }

  .signup {
    background-color: var(--color-background);
  }

  .signup .right {
    background-image: none;
    background-color: var(--color-background);
    width: 50%;
  }

  .signup .left {
    background-image: url('./app/Images/guitars.jpg');
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    overflow-y: hidden;
  }

  .signup .right > .container {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .signup form > div.names {
    flex-direction: row;
  }

  .signup .right > .container {
    width: 70%;
  }
}
