.hidden {
  display: none;
}

#sidebar {
  position: absolute;
  width: 250px;
  height: calc(100% - 70px);
}

#sidebar nav {
  position: relative;
  height: 100%;
  grid-area: alias-nav;
  display: flex;
  flex-direction: column;
  z-index: 3;
  gap: 1em;
  padding: 2rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-foreground);
  background-color: var(--color-navbar);
  margin-bottom: 1rem;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#inner-layout nav.slide-in {
  animation: slide-in 500ms forwards;
}

#inner-layout nav.slide-out {
  animation: slide-out 500ms forwards;
}

@keyframes slide-in {
  from {
    translate: -250px 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slide-out {
  from {
    translate: 0 0;
  }

  to {
    translate: -250px 0;
  }
}

#sidebar nav div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
}

#sidebar nav a {
  border-radius: 8px;
  display: flex;
  padding: 0.5rem;
  transition: background-color 100ms;
}

#sidebar nav a:hover {
  background: #313643;
}

#sidebar nav a.active {
  background: #4d5875;
}

@media (min-width: 768px) {
  #sidebar nav {
    grid-area: alias-nav;
    border-top-right-radius: 0;
  }
}
